<script id="lessonDetailScore_template" type="text/x-underscore-template">
<header class="top-title c1 fs24">
	<h1 class="title textC">
	    <%=result.courseYear%><%=result.courseYearperiod%><%=result.courseName%>(<%=result.traimName%>)
	    <span class="stuname">学员：<%=result.studentName%>(<%=result.position%>)</span>

	</h1>
	<div class="time leftTop">
		<img src="../base/img/back.ing" alt=""></div>
		
			
	</div>
</header>
<div class="content">
  <aside class="sub_aside">
    <h3 class="sub_title">科目列表</h3>
	<ul class="sub_list">
	   <%
	      _.each(result.subjects,function(subjectItem,index){%>
			 <li class=<%=(index==0)?"sub_active":""%>><span><%=subjectItem.seq%></span><%=subjectItem.subjectName%></li>
	 <%})%>
		 
	</ul>
</aside>
 <div class="jtas_wrap"> 
       <div class="jt_title">
          <span class="jt_st">成绩列表</span>
          <span class="jt_sa">成绩评定</span>
       </div>
       <div id="wrapper">
          <div id="scroller">
	   <%
	      _.each(result.subjects,function(subjectItem,index){%>
			   <div class="jtas_item" style=<%=(index>0)?"display:none":""%>>
	            <%_.each(subjectItem.jtas,function(jtasItem,index){%>
				   	 <div class="jtas_list">
						<h3><%=jtasItem.jtaName%>
						<div class="tag">
						 <img src="../base/img/comp.png" alt="申诉" class="complain" data-value=<%=subjectItem.subjectId%>>
						<%
						      var arr=jtasItem.cJtas;
						      var len=0;
						      var sum=0;
						      var average;
						      for(var i=0;i<arr.length;i++){
						      	 if(arr[i].score){
						         	sum+=parseFloat(arr[i].score);
						         	len++;
						        }
						      }
						      if(len==0){
							      	average="";
							      }else{
							      	 average=(sum/len).toFixed(1);
							    }
						   %>
						<span class="average">
                              <%=average%>
						</span>
						</div>
						</h3>

						 <ul class="cjt_list">
							<%_.each(jtasItem.cJtas,function(cjtasItem,c_index){%>
								
									<li class="active">
										 <%=cjtasItem.cJtaName%>
										 <span class="c_score">
										    <%=cjtasItem.score%>
										 </span>
										 
									 </li>
								  
							 <%})%>
						  </ul>
					  </div>
			  <%})%>

	          </div>
		<%})%>
	      </div>
	    </div>
</div>	

</script>