<script id="ResultsUpload_template1" type="text/x-underscore-template">
<%
   
    if(obj.length!=0){
%>
<%_.each(obj,function(Item,index){%>
<div class="course">

    <div class = 'iconCircle c1 fs26'>
        <%=Item.month%>月
    </div>
    <ul class ="refresher">
        <%_.each(Item.results,function(resultsItem,resultsIndex){%>
        <%_.each(resultsItem.groups,function(groupsItem,groupsIndex){%>
        <%_.each(groupsItem.students,function(studentsItem,studentsIndex){%>
        <li 
             id=course_item_<%=groupsItem.gIndex%><%=studentsItem.stuIndex%>
            class="course_item"
                data-resultsIndex=<%=resultsIndex%>
                data-value=<%=resultsItem.trainId%> 
                data-status=<%=studentsItem.status%> 
                
                data-groupIndex=<%=groupsIndex%>
                data-stuIndex=<%=studentsIndex%>
                data-itemIndex=<%=resultsItem.itemindex%>

                data-batchId=<%=resultsItem.batchId%>
                data-stuId=<%=studentsItem.gId%>
                data-groupId=<%=groupsItem.groupId%>
                >
            <div class="link fs24 c2">
                <div class="c_year p textC">
                
                    <%=resultsItem.courseYear%><%=resultsItem.courseYearperiod%>
                </div>
                <div class="c_name" 
                data-resultsIndex=<%=resultsIndex%>
                data-value=<%=resultsItem.trainId%> 
                data-status=<%=studentsItem.status%> 
                data-itemIndex= <%=resultsItem.itemindex%>
                data-stuIndex='<%=studentsIndex%>' 
                data-groupIndex='<%=groupsIndex%>'
                >
                    <%=resultsItem.courseName%>
                </div>
                <div class="bg">
                    <div class="c_time">
                        <%
                        var st=studentsItem.startTime;
                        var stArr=st.split(" ");
                        var stime=stArr[0].split("-");
                        var year=stime[0];
                        var month=stime[1];
                        var day=stime[2];
                        var sh=stArr[1].split(":")[0]+":00";
                        var et=studentsItem.endTime;
                        var eh=parseInt(stArr[1].split(":")[0])+1+":00";
                        var time=year+"年"+month+"月"+day+"日 "
                        var s_etime=sh+"-"+eh;
                        %>
                        <%=time%>
                    </div>
                    <div class="s_etime">
                        <%=s_etime%>
                    </div>
                    <div class="c_stu">
                        学员:
                        <%if(studentsItem.studentName.length>6){%>
                        <%}%>
                         <%=studentsItem.studentName%>(<%=studentsItem.skillName%>)
                    </div>
                    <div class="c_sta">
                        <span><%=groupsItem.stationName%></span>
                    </div>
                    <div class="c_res fs22" >
                        <span><%=groupsItem.actypes.actype%></span>
                        <span>分组:<%=groupsItem.groupName%></span>
                        <span><%=resultsItem.trainName%></span>
                        <img src="../base/img/choose.ing"  class="choose" alt="" data-dagou="dagou">
                            <img src="../base/img/dagou_grey.ing" class="pass_grey" alt=""  data-dagou="dagou">
                            <img src="../base/img/dagou.ing" alt="" class="pass_state"
                                 data-Item="<%=resultsIndex%>"
                                 data-dagou="dagou"
                                 data-itemindex=<%=index%>
                                 data-stuIndex=<%=studentsIndex%>
                                 data-groIndex=<%=groupsIndex%>
                                 data-batchId=<%=resultsItem.batchId%>
                                 data-stuId=<%=studentsItem.gId%>
                                 data-groupId=<%=groupsItem.groupId%>
                                 >
                                
                    </div>
                </div>
            </div>
        </li>
        <%})%>
        <%})%>
        <%})%>
    </ul>
</div>

<%})%>
<%}%>
</script>
