<script id="addbatch_template" type="text/x-underscore-template">

 <div class="batch_wrap">
      <div class="batch_info">
          <div class="batch_item">
              <div class="bName">
                  <lable>批次</lable>
                  <input type="text" class="batchName">
              </div>
              <div class="bStart" >
                 <lable>开始时间</lable>
                 <div class="trainDateInputStart"></div>
              </div>
             <div class="bEnd" >
                <lable>结束时间</lable>
                <div class="trainDateInputEnd"></div>
            </div>
         </div>
          <div class="batch_item">
              <div class="bTeacher">
                  <lable>教员</lable>
                  <div class="teach_wrap">
                      <input type="text" class="batchTeacher" value="">
                      <div class="teach_list">
                          <ul class="t_list">

                          </ul>
                      </div>
                  </div>
                  <img class="searchTeach" src="../base/img/u3443.png" data-value="Teach">
                   <em>(允许添加多个教员)</em>
              </div>
             
         </div>
          <div class="batch_item">
              <div class="cTeacher">
                  <lable>已选教员：</lable>
                  <div class="cteach_wrap">
                     <ul class="ct_list">
                      
                     </ul>
                     
                  </div>
                 
              </div>
             
         </div>
        
       
      </div>
     
      <div class="addBatchList">增加批次</div>
 </div>
 
   

</script>
