<style type="text/css">
/* ---simona--modify--add mask-- */
.bar-tab {
  position: absolute;
  height:40px;
  bottom: 0;
  left: 0;
  background: #FEFEFE;
  border: none;
  border-top: #CCCCCC 1px solid;
  z-index: 0;
  -webkit-box-sizing:border-box;
}
.footerMain{height:39px;overflow: hidden;}
.footer_info {
  background: transparent url("../base/img/user.ing") no-repeat 30px 7px;
  text-indent: 72px;
  line-height: 39px;
  font-size: 17px !important;
  color: #7B7B7D !important;
}
.footer_icon {
  padding-right: 5px
}
.footer_icon>span {
  height: 39px;
  width: 30px;
  background-image: url("../base/img/footerpic.ing");
  background-repeat: no-repeat;
  display: inline-block;
  padding-right: 15px;
}
.footer_icon_home {
  background-position: 0 center;
}
.footer_icon_info {
  background-position: -49px center;
}
.footer_icon_exit {
  background-position: -98px center;
  display: inline-block !important;
}
</style>
<div class="footerMain flex">
<p class="footer_info c1 fs16"><!-- 上官云鹏 （天航/E145飞行一中队（贵阳机队）） --></p>
<p class="footer_icon textR">
<span class="footer_icon_home" data-value="icon_home"></span>
<span class="footer_icon_info" data-value="icon_info"></span>
<span class="footer_icon_exit" data-value="icon_exit"></span>
</p>
</div>