<script id="station_template" type="text/x-underscore-template">
    <%
    if(resultCode === 0 && typeof result !== "undefined" && result !== null && result !== "" && result.length !== 0) {
    %>
  <%
  %>
     <header class="top-title c1 fs24">
     <div class="time leftTop">
		<img src="../base/img/back.ing" alt=""></div>
	    <h1 class="title width40 textE">
	    <%=result.courseYear%><%=result.courseYearperiod%><%=result.actype%><%=lang.acType%><%=result.courseType%><%=lang.course%></h1>
	 <div class="rightTop fs20 textE width50">
	 	<%=lang.apply%>：<%=result.skilledLevel%></div>
	 </header>
  <div class="content fs20">
  	<div class="inputInfo">
        <!--课程的训练场地-->
         <div class="selectStation textC c2">
         <label class="stationTitle fw textL c0"><%=lang.tranPlace%>:</label>
         <div class="selectStationWrapper">
          <%   
            if(result.stationCodes&&result.stationCodes.length >0){
            _.each(result.stationCodes,function(stationItem,index){
              if(index==0){%>
                 <div class="stationItem stationItemActive" data-value=<%=stationItem.code%>><%=stationItem.name%></div>
               <%}else{%>
                 <div class="stationItem" data-value=<%=stationItem.code%>><%=stationItem.name%></div>
              <%}
           }
           )}%>
         </div>
        </div>
        <!--训练日期-->
        <div class="trainDate c0">
         <label class="trainDateTitle fw"><%=lang.tranDate%>:</label>
         <div class="trainDateInput"></div>
         <img src="../base/img/chooseCourseTime.ing" class="trainDatePic">
        </div>

         <!--模拟机-->
         <div class="analogMachine textC c2">
         <label class="analogMachineTitle fw textL c0"><%=lang.analogMachine%>:</label>
         <div class="analogMachineWrapper flex">
                  <%if(result.devices&&result.devices.length >0){
            _.each(result.devices,function(deviceItem,index){
              if(index==0){%>
                 <div class="deviceItem deviceItemActive"><%=deviceItem%></div>
               <%}else{%>
                 <div class="deviceItem"><%=deviceItem%></div>
              <%}
           })
          }%>
         </div>
         </div>
         <%}%>
        <!--上面的模版是需要数据的-->
      <!--用户输入信息-->
    <div class="userinfo flex">
  		<div class="LSide">
  			<div class="fw"><%=lang.lseat%>：</div>
        <div class="flex">
          <input type="text" id="stuPF" placeholder="<%=lang.stukeywordsPF%>" class="fs22" data-value="PF" data-studentSeat="L">
          <div class="checkUserName fs16 c2"><%=lang.checkUserName%></div>
        </div>
        <div class="seattype flex textC c2">
          <div class="seat_item active pf">PF</div>
          <div class="seat_item pnf">PNF</div>
        </div>
  		</div>
      <div class="splitLine"><!--华丽的分割线--></div>
  		<div class="RSide">
  			<div class="fw"><%=lang.rseat%>：</div>
          <div class="flex">
  				<input type="text" id="stuPNF" placeholder="<%=lang.stukeywordsPNF%>" class="fs22" data-value="PNF" data-studentSeat="R">
          <div class="checkUserName fs16 c2"><%=lang.checkUserName%></div>
          </div>
        <div class="seattype flex textC c2">
          <div class="seat_item pf">PF</div>
          <div class="seat_item active pnf">PNF</div>
        </div>
  		</div>
      </div>
  				<div class="beginCourseBtn textC c1 fs24"><%=lang.courseBegin%></div>
  	</div>
</div>
</script>